<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Styles/style.css">
</head>
<body>
    <header class="navbar">
      <div class="logo">
          <h1><i class="fa-solid fa-cubes"></i>PcStore</h1>
      </div>
      <nav class="nav-links">
        <a href="../Home/index.html">Inicio</a>
        <a href="../Promotions/promotions.html">Promociones</a>
        <a href="../AboutUs/about.html">Quienes Somos</a>
        <a href="../Contact/contact.html">Contactános</a>
      </nav>
      <div class="menu-icon">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <div class="side-bar" id="side-bar">
      <a href="../Home/index.html">Inicio</a>
      <a href="../Promotions/promotions.html">Promociones</a>
      <a href="../AboutUs/about.html">Quienes Somos</a>
      <a href="../Contact/contact.html">Contactános</a>
    </div>
    <div class="overlay" id="overlay"></div>
    <section id="quienes-somos">
      <h1><i class="fa-solid fa-user-tie"></i> Quienes somos</h1>
      <p style="margin-bottom: 0;margin-top: 10px;">Somos un grupo de estudiantes apasionados por la tecnología en Córdoba capital. Nos hemos unido en este emprendimiento con el firme propósito de satisfacer la demanda local de componentes de computadoras. Nuestra misión es ofrecer productos de calidad y servicio personalizado para cubrir todas las necesidades tecnológicas de nuestra comunidad.</p>
    </section>
    <script src="../../../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>